<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Judo News</title>
		<script src="angular/angular.min.js"></script>
		<script src="angular-animate/angular-animate.min.js"></script>
		<script src="angular-aria/angular-aria.min.js"></script>
		<script src="angular-material/angular-material.js"></script>
		<link rel="stylesheet" href="angular-material/angular-material.min.css"charset="utf-8">
		<script src="js/app.js"></script>
	</head>
	<body ng-app="app">
		<div ng-controller="main">
			<md-content class="md-padding" layout="row" layout-wrap>
		    <md-card style="margin: 0;" ng-init="flex = getFlex()" ng-repeat="article in articles" flex="{{flex}}">
		      <img ng-src="{{article.enclosures[0].url}}" class="md-card-image" alt="Washed Out">
		      <md-card-content>
		        <h2 class="md-title">{{article.title}}</h2>
		        <p>
		        	{{article.description}}	
		        </p>
		      </md-card-content>
		    </md-card>
		  </md-content>
		</div>
	</body>
</html>
